<main></main>
        <section class="banner">
            <img src="/img/logomanada.png" alt="Logo Lobatos y Lobeznas" class="img-border">
            <h1>El mundo de la fantasía y los juegos te están llamando</h1>
            <h2>Lobatos y Lobeznas: 7 a 11 años</h2>
        </section>
        <section class="content">
            <div class="activities">
                <div class="search-container">
                    <input type="text" id="search" placeholder="Buscar por nombre o Dni...">
                    <button id="searchButton" class="icon-button" onclick="searchUser()"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="buttons">
                        <a href="/manada"><button id="boton1" class="icon-button"><i class="fa-solid fa-file-pdf"></i></button></a>
                        <a href="/add"><button id="boton1" class="icon-button"><i class="fa-solid fa-user-plus"></i></button></a>
                    </div>
                </div>
                <div>
                    <h3>Usuarios Activos: <span id="contadorUsuariosManada"></span></h3>
                </div>
                    <div class="row mt-1">
                        {{#if personas}}
                        <table class="table text-left">
                            <thead class="o">
                                <tr class="titulo">
                                    <th scope="col">DNI</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Fecha_nac</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each personas}}
                                    <tr>
                                        <td class="textoss2">{{DNI}}</td>
                                        <td class="textoss2">{{nombre}}</td>
                                        <td class="textoss2">{{apellido}}</td>
                                        <td class="textoss2">{{correo}}</td>
                                        <td class="textoss2">{{fecha_nac}}</td>
                                        <td class="textoss2">
                                            <div class="btn-group">
                                                <a href="/edit/{{DNI}}" class="btn p-2" id="lapiz">
                                                <i class="fa-solid fa-pencil"></i></a>
                                                <a href="/delete/{{DNI}}" class="btn p-2" id="lapiz4">
                                                <i class="fa-solid fa-trash"></i></a>
                                                <a href="/documentosUsuario/{{DNI}}" class="btn p-2" id="lapizDoc">
                                                <i class="fa-solid fa-file-lines"></i></a>
                                                <a href="/pasarRama/{{DNI}}" class="btn p-2" id="lapizpase">
                                                <i class="fa-sharp-duotone fa-solid fa-shuffle"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="card text-center mx-auto" style="width: 350px;">
                            <div class="card-header">
                                <h3>Debes crear una persona</h3>
                            </div>
                            <div class="card-body">
                                <p>Presiona este boton para que puedas registrar a una persona en la aplicacion</p>
                                <a href="/add" class="btn btn-primary">Ir a crear</a>
                            </div>
                        </div>
                    {{/if}}
                    <!-- Bloque para mostrar el mensaje de error -->
                    {{#if errorMessage}}
                        <div id="error-message" class="status-message error" style="display: block;">
                            {{errorMessage}}
                        </div>
                    {{/if}}
                    {{#if successMessage}}
                        <div id="success-message" class="status-message success" style="display: block;">
                            {{successMessage}}
                        </div>
                    {{/if}}
                </div>
            </div>
            
        </section>
</main>

<script>
    function searchUser() {
        const searchTerm = document.getElementById("search").value;
        const url = `/listManada?search=${encodeURIComponent(searchTerm)}`;
        window.location.href = url;  // Redirige a la URL con el parámetro de búsqueda
    }

    // Llamada a la ruta para obtener el contador de usuarios
    fetch('/contadorUsuariosManada')
        .then(response => response.json())
        .then(data => {
            document.getElementById('contadorUsuariosManada').textContent = data.totalUsuarios;
        })
        .catch(error => console.error('Error al obtener el contador:', error));

    // Ocultar mensajes después de 3 segundos
    window.onload = function() {
        const errorMessage = document.getElementById('error-message');
        const successMessage = document.getElementById('success-message');
        if (errorMessage) {
            setTimeout(() => {
                errorMessage.style.display = 'none';
            }, 3000);
        }
        if (successMessage) {
            setTimeout(() => {
                successMessage.style.display = 'none';
            }, 3000);
        }
    };
</script>
