<main></main>
        <section class="banner1">
            <img src="/img/logounidad.png" alt="Unidad" class="img-border2">
            <h1>El mundo de la fantasía y los juegos te están llamando</h1>
            <h2>Lobatos y Lobeznas: 7 a 11 años</h2>
        </section>
        <section class="content">
            <div class="activities">
                <div class="search-container">
                    <input type="text" id="search" placeholder="Buscar por nombre o Dni...">
                    <button id="searchButton1" class="icon-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="buttons">
                        <a href="/unidad"><button id="boton2" class="icon-button"><i class="fa-solid fa-file-pdf"></i></button></a>
                        <a href="/add"><button id="boton2" class="icon-button"><i class="fa-solid fa-user-plus"></i></button></a>
                    </div>
                </div>
                <h3>Usuarios Activos: {{totalUsuariosUnidad}}</h3>
                    <div class="row mt-1">
                        {{#if personas}}
                        <table class="table text-left">
                            <thead class="o">
                                <tr class="titulo2">
                                    <th scope="col">DNI</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Fecha_nac</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each personas}}
                                    <tr>
                                        <td>{{DNI}}</td>
                                        <td>{{nombre}}</td>
                                        <td>{{apellido}}</td>
                                        <td>{{correo}}</td>
                                        <td>{{fecha_nac}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/edit/{{DNI}}" class="btn p-2" id="lapiz2">
                                                <i class="fa-solid fa-pencil"></i></a>
                                                <a href="/deleteUnidad/{{DNI}}" class="btn  p-2" id="lapiz4">
                                                <i class="fa-solid fa-trash"></i></a>
                                                <a href="/pasarRama/{{DNI}}" class="btn  p-2" id="lapizpase">
                                                <i class="fa-sharp-duotone fa-solid fa-shuffle"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="card text-center mx-auto" style="width: 350px;">
                            <div class="card-header">
                                <h3>Debes crear una persona</h3>
                            </div>
                            <div class="card-body">
                                <p>Presiona este boton para que puedas registrar a una persona en la aplicacion</p>
                                <a href="/add" class="btn btn-primary">Ir a crear</a>
                            </div>
                        </div>
                    {{/if}}
                    <!-- Bloque para mostrar el mensaje de error -->
                    {{#if errorMessage}}
                        <div id="error-message" class="status-message error" style="display: block;">
                            {{errorMessage}}
                        </div>
                    {{/if}}
                    {{#if successMessage}}
                        <div id="success-message" class="status-message success" style="display: block;">
                            {{successMessage}}
                        </div>
                    {{/if}}
                </div>
            </div>
            
        </section>
</main>

<script>
    document.getElementById('searchButton').addEventListener('click', function() {
        const searchValue = document.getElementById('search').value;
        window.location.href = `/list?search=${searchValue}`;
    });
    // Llamada a la ruta para obtener el contador de usuarios
    fetch('/contadorUnidad')
        .then(response => response.json())
        .then(data => {
            document.getElementById('contadorUnidad').textContent = data.totalUsuarioss;
        })
        .catch(error => console.error('Error al obtener el contador:', error));

    window.onload = function() {
        const errorMessage = document.getElementById('error-message');
        const successMessage  = document.getElementById('success-message');
        if (errorMessage) {
            setTimeout(() => {
                errorMessage.style.display = 'none';
            }, 3000);
        }
        if (successMessage) {
            setTimeout(() => {
                successMessage.style.display = 'none';
            }, 3000);
        }
    };
    
</script>
